{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} کتابخانه{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-y7C0G+...==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/book_list.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
</head>
<body>

    <!-- Header -->
    <header class="header">
        <div class="header-1">
            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <a href="#" class="fas fa-heart"></a>
                <div id="login-btn" class="fas fa-user"></div>
        </div>

            <form action="{% url 'search_books' %}" method="get" class="search-form">
                <input type="text" name="q" placeholder=":جستجو کنید">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>

            <a href="#" class="logo"><i class="fas fa-book"></i> کتابخانه</a>
        </div>

        <div class="header-2">
            <nav class="navbar">
                <a href="{% url 'home' %}">خانه</a>
                <a href="{% url 'book_list' %}">کتاب‌ها</a>
                <a href="{% url 'about' %}">درباره ما</a>
                <a href="{% url 'call' %}">تماس</a>
            </nav>
        </div>

</header>  


    <!-- Bottom Navbar (Mobile) -->
    <div class="bottom-navbar">
        <a href="#" class="fas fa-home"></a>
        <a href="#" class="fas fa-list"></a>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-user"></a>
    </div>

    <!-- login form  -->

    <div class="login-form-container">

        <div id="close-login-btn" class="fas fa-times"></div>

        <form action="">
            <h3>ورود</h3>
            <span>نام کاربری</span>
            <input type="email" name="" class="box" placeholder="ایمیل خود را وارد کنید" id="">
            <span>رمز عبور</span>
            <input type="password" name="" class="box" placeholder="رمز عبور خود را وارد کنید" id="">
            <div class="checkbox">
                <input type="checkbox" name="" id="remember-me">
                <label for="remember-me"> به خاطر سپردن</label>
            </div>
            <input type="submit" value="sign in" class="btn">
            <p>رمز خود را فراموش کرده اید ؟ <a href="#">اینجا کلیک کنید</a></p>
            <p>ثبت نام نکرده اید ؟ <a href="/register">ساخت حساب</a></p>
        </form>

</div>

    <!-- Main Content -->
    {% block content %}
    {% endblock %}

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
        const isLoggedIn = "{{ request.user.is_authenticated|yesno:'true,false' }}" === "true";
    </script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
